/* navigation bar */
* {
    margin: 0;
  }
  
  nav {
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }
  
  li.logo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    font-size:xx-large;
    color: red;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
  }
  
  nav ul li:hover > .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    display: block;
    padding: 0;
  }
  
  .dropdown-content li a {
    padding: 10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
  }
  
  .dropdown-content li:hover {
    background-color: #ffffff;
  }
  
  nav a:hover,
  dropdown:hover {
    background-color: red;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  li.search-bar {
    padding-left: 550px;
  }
  
  li,
  .search-bar input {
    padding: 5px;
  }
  
  li.search-bar button {
    padding: 5px 10px;
  }
  
  body {
    font-family: "Open Sans", sans-serif;;
  }

/* form */
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("image/orderbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    padding: 10px;
    background-color: white;
}

input[type=text], input[type=number], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text], input[type=number], input[type=password]{
    background-color: #ddd;
    outline: none;
}

button{
  text-align: right;
  cursor: pointer;
}

